*{
  box-sizing: border-box;
}

body {
  font-family: "Neucha", cursive;
  

  font-size: 1rem;       

  font-weight: 400;                        
  line-height: 1.5;                        
  text-align: left; 
  
  
  color: #222222;                      
  background-color: rgb(255, 255, 255); 


h1 {
    text-align: center;
}
a {
  max-height: 110px;
  max-width: 21px;
  color: #ff7b07;         
  text-decoration: none;  
  position: relative;
  left: 100px;
  white-space: nowrap;
}

p {
  background-color: #ffa807;  
  border: 1px solid #dddddd;  
  border-radius: 4px;        
  padding: 10px;
}

img{
  height: 300px;
  width: 500px;


  min-width: 30%;    
  min-height: 25%;    
}



 
.links {
  display: flex;  
  flex-direction: row;
  gap: 10rem;       
}

.textgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 1rem;                          
}